<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.NEUSystemDevelop2024.mapper.MeetingMapper">

    <select id="queryAll" resultType="com.NEUSystemDevelop2024.entity.Meeting">
        SELECT meetingId, meetingTitle, meetingDescription, startTime, endTime, organizer, state FROM meeting
    </select>

    <select id="queryById" parameterType="int" resultType="com.NEUSystemDevelop2024.entity.Meeting">
        SELECT meetingId, meetingTitle, meetingDescription, startTime, endTime, organizer, state FROM meeting WHERE meetingId = #{meetingId}
    </select>

    <insert id="meetingAdd" parameterType="com.NEUSystemDevelop2024.entity.Meeting">
        INSERT INTO meeting (meetingTitle, meetingDescription, startTime, endTime, organizer, state)
        VALUES (#{meetingTitle}, #{meetingDescription}, #{startTime}, #{endTime}, #{organizer}, #{state})
    </insert>

    <update id="update" parameterType="com.NEUSystemDevelop2024.demo.entity.Meeting">
        UPDATE meeting
        <set>
            <if test="meetingTitle != null">meetingTitle = #{meetingTitle},</if>
            <if test="meetingDescription != null">meetingDescription = #{meetingDescription},</if>
            <if test="startTime != null">startTime = #{startTime},</if>
            <if test="endTime != null">endTime = #{endTime},</if>
            <if test="organizer != null">organizer = #{organizer},</if>
            <if test="state != null">state = #{state}</if>
        </set>
        WHERE meetingId = #{meetingId}
    </update>

    <delete id="delete">
        DELETE FROM meeting WHERE meetingId = #{meetingId}
    </delete>
</mapper>